<!DOCTYPE html>
<!-- CSP support mode (required for Windows Universal apps): https://docs.angularjs.org/api/ng/directive/ngCsp -->
<html lang="en" ng-app="app" ng-csp>

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <!-- JS dependencies (order matters!) -->
    <script src="scripts/platformOverrides.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css" />
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css" />
    <!-- CSP support mode (required for Windows Universal apps) -->
    <link rel="stylesheet" href="lib/angular/angular-csp.css" />
    <!-- --------------- App init --------------- -->
    <script src="js/app.js"></script>
    <title>Pointeam</title>
</head>

<body ng-controller="AppController">
    <!-- Cordova reference -->
    <script src="cordova.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easypiechart.js"></script>
    <script src="scripts/index.js"></script>
    <!-- -->
    <style>
        .item {
            padding: 0px;
            line-height: 1;
        }
        
        .item-thum {
            background-color: #ccc;
            width: 50px;
            height: 50px;
            border-radius: 4px;
        }
        
        .item-title {
            font-size: 15px;
            font-weight: 500;
        }
        
        .item-desc {
            font-size: 14px;
            color: #666;
            line-height: 1.3;
            margin: 4px 0 0 0;
            padding: 0 30px 0 0;
        }
        
        .item-label {
            font-size: 12px;
            color: #999;
            float: right;
        }
    </style>
    <ons-navigator var="navi">
      <ons-page>
          <ons-toolbar-button onclick="navi.pushPage('home.html', { animation : 'lift' } )">test
                        <ons-icon icon="ion-gear-a" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button> 
      </ons-page>
    </ons-navigator>

   
   <ons-template id="home.html">
     <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button onclick="navi.pushPage('settings.html', { animation : 'lift' } )">
                        <ons-icon icon="ion-gear-a" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center"><span class="logo"></span>
                </div>
                <div class="right">
                    <ons-toolbar-button id="goToDashboard">
                        <ons-icon icon="ion-speedometer" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button id="goToList" style="display:none;">
                        <ons-icon icon="ion-navicon-round" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button>
                    <ons-toolbar-button onclick="projectCreated++;navi.pushPage('newproject.html', { animation : 'slide' } );">
                        <ons-icon icon="ion-plus-round" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <ons-carousel swipeable overscrollable auto-scroll auto-refresh fullscreen var="carousel" ng-controller="MasterController" class="tabDashboard" style="overflow:hidden; height:0px;">
                <ons-carousel-item style="background-color: #32188f;" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
                    <div class="relativeBox">
                      <div class="ownerInfo">
                          <div class="person avatarUser" style="background-image:url('http://themina.net/themes/shema/img/demo/team/team_img_3.jpg');"></div>
                          <div class="projectTitleAuthor">
                              <span class="title">Nazwa projektu…</span>
                              <span class="author">Admin: Piotr Kowalski</span>
                          </div>
                      </div>
                      <span class="chart" data-percent="{{item.procentUkonczeniaProjektu}}">
		                    <span class="percent"></span><br/>
		                    <span class="number">{{item.ukonczoneZadania}}/{{item.wszystkieZadania}}</span>
		                    <h4>ukończonych<br/>zadań</h4>
	                    </span>
                       <div class="projectFooter">
                          <div class="infoElements">
                                            <div class='icon {{item.statusClass}}'>{{item.statusUzytkownika}}</div>
                                            <div class='icon time'>{{item.czasUzytkownika}}</div>
                                            <div class='icon cost'>{{item.kasaUzytkownika}}</div>
                                            <div class='icon promo'>{{item.punktyUzytkownika}}</div>
                                        </div>
                                        <div class="clear"></div><br/>
                           <div class="yourStats">
                               Zadania przypisane do Ciebie: <span class="colorYellow">{{item.zadaniaPrzypisaneDoUzytkownika}}</span><br/>
                               Zadania nieprzypisane: <span class="colorYellow">{{item.zadaniaNieprzypisane}}</span><br/>
                               Najbliższy termin: <span class="colorYellow">{{item.terminy[0].data}}</span><br/>
                           </div><br/>
                            <h4>zadania przypisane do inncyh osób</h4>
                            <div class="projectPeople">
                               <meta name="format-detection" content="telephone=no">
                               
                               
                                 <span ng-repeat="osoba in item.przypisaneOsoby">
                                <div class="person" style="background-image:url('{{ osoba.avatar }}');">
                                    <div class="badge">{{ osoba.iloscZadan }}</div>
                                </div>
                                </span>
                            </div>
                       </div>
                    </div>
                </ons-carousel-item>
            </ons-carousel>
            <ons-tapbar position="top" class="homeTabs">
                <div class="tab-bar tab-bar--top tab-bar--top-border">
                    <label class="tab-bar__item tab-bar--top-border__item" id="goToProjekty">
                        <input type="radio" name="top-tab-bar-b" checked="checked">
                        <button class="tab-bar__button tab-bar--top-border__button">
                            Projekty
                        </button>
                    </label>

                    <label class="tab-bar__item tab-bar--top-border__item" id="goToMojeZadania">
                        <input type="radio" name="top-tab-bar-b">
                        <button class="tab-bar__button tab-bar--top-border__button">
                            Moje zadania
                        </button>
                    </label>
                </div>
            </ons-tapbar>
            <ons-list ng-controller="MasterController" style="display:block;" class="tabProjekty">
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
                    <ons-row>
                        <ons-col>
                                    <div class="basicItem project">
                                        <div class="avatarHolder">
                                            <div class="person avatarUser" ></div>
                                        </div>
                                        <div class="statusHolder">
                                            <div class="statusItem notificationsCount" style="display:{{item.notyfikacjeDisplay}};">{{item.notyfikacje}}</div>
                                        </div>
                                        <div class="chartHolder">
                                            <span class="chartMini" data-percent="{{item.procentUkonczeniaProjektu}}">
		                    <span class="percent"></span><br/>
	                                    </span>
                                        </div>
                                        <div class="taskTitle">{{item.tytul}}</div>
                                        <div class="infoElements">
                                            <div class='icon {{item.statusClass}}'>{{item.statusUzytkownika}}</div>
                                            <div class='icon time'>{{item.czasUzytkownika}}</div>
                                            <div class='icon cost'>{{item.kasaUzytkownika}}</div>
                                            <div class='icon promo'>{{item.punktyUzytkownika}}</div>
                                        </div>
                                        <div class="normalStats">
                                            Zadania przypisane do Ciebie: {{item.zadaniaPrzypisaneDoUzytkownika}}<br/>
                                            Zadania nieprzypisane: {{item.zadaniaNieprzypisane}}<br/>
                                            Najbliższy termin: {{item.terminy[0].data}}
                                        </div>
                                    </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
            <ons-list ng-controller="MasterController" style="display:none;" class="tabMojeZadania">
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
                   <ons-row>
                        <ons-col>
                            <ons-carousel style="height: 115px;" initial-index="1" swipeable overscrollable auto-scroll>
                                <ons-carousel-item>
                                    <div class="basicItem">
                                        <div class="dateHolder prioImportant">
                                            <div class="day">12</div>
                                            <div class="mounth">MAR</div>
                                            <div class="hour">12:20</div>
                                        </div>
                                        <div class="statusHolder">
                                            <div class="statusItem notificationsCount">2</div>
                                            <div class="statusItem location"></div>
                                            <div class="statusItem done"></div>
                                            <div class="statusItem noPerson"></div>
                                        </div>
                                        <div class="taskTitle">{{item.title}}</div>
                                        <div class="projectTitle">{{item.desc}}</div>
                                        <div class="infoElements">
                                            <div class='icon completionHalf'>w trakcie</div>
                                            <div class='icon time'>12:23</div>
                                            <div class='icon cost'>215zł</div>
                                            <div class='icon promo'>5</div>
                                        </div>
                                    </div>
                                </ons-carousel-item>
                            </ons-carousel>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
   
    <ons-template id="procjectview.html">
        <ons-page ng-controller="DetailController">
            <ons-toolbar>
             <div class="left">
              <ons-toolbar-button onclick="if(projectCreated==1){projectCreated=0;navi.getPages()[2].destroy();navi.popPage();} else { navi.popPage(); }">
                    <ons-icon icon="ion-chevron-left" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                </ons-toolbar-button></div>
                <div class="center">{{item.krotkitytul}}</div>
            </ons-toolbar>

            <ons-list modifier="inset" style="margin-top: 10px">
                <ons-list-item class="item">
                    <ons-row>
                        <ons-col width="60px">
                            <div class="item-thum"></div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{item.tytul}}</span>
                                <span class="item-label">{{item.label}}</span>
                            </header>
                            <p class="item-desc">{{item.desc}}</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

                <ons-list-item modifier="chevron" ng-click="doSomething()">
                    <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
                    Add a note
                </ons-list-item>
            </ons-list>

            <ons-list style="margin-top: 10px">
                <ons-list-item class="item" ng-repeat="i in [1,2,3]">
                    <header>
                        <span class="item-title">Lorem ipsum dolor sit amet</span>
                    </header>
                    <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </ons-list-item>
            </ons-list>
            <br>
        </ons-page>
    </ons-template>
    <ons-template id="settings.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="navi.popPage();">
                    <ons-icon icon="ion-chevron-left" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Ustawienia</div>
            <div class="right">
                <ons-toolbar-button>
                    <ons-icon icon="ion-log-out" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        <div class="text-center" style="background-color:#32188f;">
        <div id="avatar" class="avatarUser"></div>
<a id="capturePhoto">zmień awatar</a>
</div>
        <ul class="list">
            <li class="list__header">Modyfikuj dane osobowe</li>
            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Imię</ons-col>
                    <ons-col class="col ons-col-inner">
                        <input type="text" class="text-input text-input--transparent inputWithLabel" placeholder="Imię" value="Piotr">
                    </ons-col>
                </ons-row>
            </li>
            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Nazwisko</ons-col>
                    <ons-col class="col ons-col-inner">
                        <input type="text" class="text-input text-input--transparent inputWithLabel" placeholder="Nazwisko" value="Kowalski">
                    </ons-col>
                </ons-row>
            </li>
        </ul>
    </ons-page>
    </ons-template>
    <ons-template id="newproject.html">
    <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button onclick="navi.popPage();">
                    <ons-icon icon="ion-chevron-left" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Nowy projekt</div>
            <div class="right">
                <ons-toolbar-button>
                    <ons-icon icon="ion-checkmark-circled" fixed-width="false" style="font-size: 26px; vertical-align: -4px"  data-ng-click="addProject()"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ul class="list">
            <li class="list__header">Informacje podstawowe</li>
            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Nazwa*</ons-col>
                    <ons-col class="col ons-col-inner">
                          <input type="text" class="text-input text-input--transparent inputWithLabel" id="nazwaProjektu" placeholder="Nowy projekt">
                    </ons-col>
                </ons-row>
            </li>
        </ul>
        <ul class="list noOverscroll" id="terminy">
            <li class="list__header">Terminy</li>
        </ul>
        <div class="text-center">
        <div id="dodajTermin">dodaj termin</div>
        </div>
        <ul class="list ">
            <li class="list__header">Budżet</li>
            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Budżet pieniężny</ons-col>
                    <ons-col class="col ons-col-inner">
                      <div class="switchHolder"><ons-switch id="budzetPieniadze"></ons-switch></div>
                    </ons-col>
                </ons-row>
            </li>
            <li class="list__item inactive" id="wartoscBudzetPieniadze">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Wartość</ons-col>
                    <ons-col class="col ons-col-inner">
                       <select class="inputClear">
                            <option>50zł</option>
                          <option>100zł</option>
                          <option>200zł</option>
                          <option>300zł</option>
                          <option>400zł</option>
                          <option>500zł</option>
                          <option>600zł</option>
                          <option>700zł</option>
                          <option>800zł</option>
                          <option>900zł</option>
                          <option>1000zł</option>
                          <option>1500zł</option>
                          <option>2000zł</option>
                          <option>2500zł</option>
                          <option>3000zł</option>
                          <option>3500zł</option>
                          <option>4000zł</option>
                          <option>4500zł</option>
                          <option>5000zł</option>
                          <option>6000zł</option>
                          <option>7000zł</option>
                          <option>8000zł</option>
                          <option>9000zł</option>
                          <option>10000zł</option>
                          <option>11000zł</option>
                          <option>12000zł</option>
                           <option>13000zł</option>
                        <option>14000zł</option>
                        <option>15000zł</option>
                       </select>
                    </ons-col>
                </ons-row>
            </li>
            <li class="list__item">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Budżet godzinowy</ons-col>
                    <ons-col class="col ons-col-inner">
                      <div class="switchHolder"><ons-switch id="budzetGodzinowy"></ons-switch></div>
                    </ons-col>
                </ons-row>
            </li>
            <li class="list__item inactive" id="wartoscBudzetGodziny">
                <ons-row align="center" class="row ons-row-inner row-center">
                    <ons-col class="col ons-col-inner">Wartość</ons-col>
                    <ons-col class="col ons-col-inner">
                       <select class="inputClear">
                            <option>1h</option>
                          <option>2h</option>
                          <option>3h</option>
                          <option>4h</option>
                          <option>5h</option>
                          <option>6h</option>
                       </select>
                    </ons-col>
                </ons-row>
            </li>
        </ul>
    </ons-page>
    </ons-template>
    <script>
        
        var projectCreated=0;
        var imieUzytkownika='Piotr';
        var nazwiskoUzytkownia='Kowalski';
        var avatrUzytkownika='http://themina.net/themes/shema/img/demo/team/team_img_3.jpg';
        jQuery(document).ready(function ($) {
            
            // Funkcje dla podstron
            function captureSuccess(mediaFiles) {
                var i, len;
                for (i = 0, len = mediaFiles.length; i < len; i += 1) {
                    var obrazek = document.getElementById('avatar');
                    avatrUzytkownika=mediaFiles[i].fullPath;
                    $('.avatarUser').css('background-image','url('+mediaFiles[i].fullPath+')');
                }
            }
            function captureImage() {
                navigator.device.capture.captureImage(captureSuccess, console.log("capture"), {
                    limit: 1
                });
            }
            ons.ready(function () {
                navi.on('postpush', function () {
                    
                    $('.avatarUser').css('background-image','url('+avatrUzytkownika+')');
                    
                    
            $('#goToMojeZadania').click(function () {
                $('.tabMojeZadania').css('display', 'block');
                $('.tabProjekty').css('display', 'none');
                reChart();

            });
            $('#goToProjekty').click(function () {
                $('.tabMojeZadania').css('display', 'none');
                $('.tabProjekty').css('display', 'block');
                reChart();
            });
            $('#goToDashboard').click(function () {
                $('.page__background').toggleClass('simpleBG');
                $('.tabMojeZadania').css('display', 'none');
                $('.tabProjekty').css('display', 'none');
                $('.homeTabs').css('display', 'none');
                $(this).css('display', 'none');
                $('.tabDashboard').css('overflow', 'initial');
                $('.tabDashboard').css('height', 'auto');
                $('#goToList').css('display', 'inline-block');
                reChart();
            });
            $('#goToList').click(function () {
                    $('.page__background').toggleClass('simpleBG');
                $('.tabMojeZadania').css('display', 'none');
                $('.tabProjekty').css('display', 'block');
                $('.homeTabs').css('display', 'block');
                $(this).css('display', 'none');
                $('.tabDashboard').css('overflow', 'hidden');
                $('.tabDashboard').css('height', '1px');
                $('#goToDashboard').css('display', 'inline-block');
                reChart();
            });
            $(function() {
		$('.chart').easyPieChart({
            size:230,
            lineWidth:6,
            barColor:'#FFD100',
            trackColor:'#1E1052',
            scaleColor:'#32188f',
            lineCap:'square', 
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
                
                
                
          $('.chartMini').easyPieChart({
            size:50,
            lineWidth:3,
            barColor:'#25007C',
            trackColor:'#F7F7F7',
            scaleColor:'#FAFAFD',
            lineCap:'square', 
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
	});
            
            function reChart() {
                $('.chart').easyPieChart({
            size:230,
            lineWidth:6,
            barColor:'#FFD100',
            trackColor:'#1E1052',
            scaleColor:'#32188f',
            lineCap:'square', 
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
                
                
                
          $('.chartMini').easyPieChart({
            size:50,
            lineWidth:3,
            barColor:'#25007C',
            trackColor:'#F7F7F7',
            scaleColor:'#FAFAFD',
            lineCap:'square', 
			easing: 'easeOutBounce',
			onStep: function(from, to, percent) {
				$(this.el).find('.percent').text(Math.round(percent));
			}
		});
            }
                    
                    
                    
                    // Nowy projekt 
            $('#budzetGodzinowy').click(function () {
                $('#wartoscBudzetGodziny').toggleClass('inactive');
            });
                    $('#budzetPieniadze').click(function () {
                $('#wartoscBudzetPieniadze').toggleClass('inactive');
            });
            var animationCount=0;
                $('#dodajTermin').click(function() {
                    if (animationCount==0){
                    $(this).removeClass('blink');
                    $(this).addClass('blink2');
                        animationCount++;
                    }
                    else {
                        $(this).removeClass('blink2');
                    $(this).addClass('blink');
                        animationCount=0; 
                    }
                    var item=$('<li class="list__item pojedynczyTermin" style="padding-right:8px; display:none;"><ons-row align="center" class="row ons-row-inner row-center" style="padding-right:1px;"><ons-col class="col ons-col-inner">Data*</ons-col><ons-col class="col ons-col-inner" style="padding-right:8px;"><input type="datetime-local"  class="inputClear" value="'+new Date().toJSON().slice(0,19)+'" ></ons-col></ons-row><ons-row align="center" class="row ons-row-inner row-center"><ons-col class="col ons-col-inner">Nazwa*</ons-col><ons-col class="col ons-col-inner"><input type="text" class="text-input text-input--transparent inputWithLabel" placeholder="Nazwa terminu"></ons-col></ons-row></li>');
                    $('#terminy').append(item);
                    $(item).fadeIn(2000);
                });                    
                    
                    $('#capturePhoto').click(function () {
                        captureImage();
                    });
                });
            });
        });
    </script>
</body>
</html>