/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import url("//hello.myfonts.net/count/2e0e4f");

  
@font-face {font-family: 'Hurme Geometric Sans 4 Bold';src: url('webfonts/2E0E4F_0_0.eot');src: url('webfonts/2E0E4F_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E0E4F_0_0.woff2') format('woff2'),url('webfonts/2E0E4F_0_0.woff') format('woff'),url('webfonts/2E0E4F_0_0.ttf') format('truetype'),url('webfonts/2E0E4F_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Hurme Geometric Sans 4';src: url('webfonts/2E0E4F_1_0.eot');src: url('webfonts/2E0E4F_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E0E4F_1_0.woff2') format('woff2'),url('webfonts/2E0E4F_1_0.woff') format('woff'),url('webfonts/2E0E4F_1_0.ttf') format('truetype'),url('webfonts/2E0E4F_1_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'Hurme Geometric Sans 4 SemiBold';src: url('webfonts/2E0E4F_2_0.eot');src: url('webfonts/2E0E4F_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2E0E4F_2_0.woff2') format('woff2'),url('webfonts/2E0E4F_2_0.woff') format('woff'),url('webfonts/2E0E4F_2_0.ttf') format('truetype'),url('webfonts/2E0E4F_2_0.svg#wf') format('svg');}
 


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FAFAFD;
    font-family:sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
  overflow: hidden;
  -ms-content-zooming: none; 
}
.clear {
    clear: both;
}
/* Portrait layout (default) */
.app {
    width:100%;                   /* text area width */
}

.ios #timerHolder {
    padding-top: 22px;
    background-color: red;
}

.win32nt #timerHolder {
    padding-top: 20px;
    background-color: blue;
}

.android #timerHolder {
    padding-top: 24px;
    background-color: #231265;
}


.pageHeader {
background: #31198B;
font-size: 17px;
color: #FFFFFF;
padding-top: 10px;
    position: fixed;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 99;
}

.pageHeader h1 {
    font-family: 'Hurme Geometric Sans 4 SemiBold';
    font-size:18px;
    line-height: 28px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.headerTabs ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.headerTabs ul li {
    display: block;
    float: left;
    border-top:solid 5px transparent;
    border-bottom:solid 5px transparent;
    text-align: center;
    line-height: 40px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.headerTabs ul li.active {
    color: rgba(255, 255, 255, 1.0);
    border-bottom:solid 5px #FFD100;
}

.headerTabs ul.twoTabs li {
    width: 50%;
}


/* Scroll test */

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}




#scroller {

    height: 300px;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
